<!DOCTYPE html>
<html  ng-app>
<head>
  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_keywords_meta_tag %>
  <%= render_page_image_link_tag %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application" %>
   

  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
<!-- 
  <script src="/assets/responsive-nav.js"></script>
  <link rel="stylesheet" href="/assets/responsive-nav.css">
  <script>
    var nav = responsiveNav(".nav-collapse");
</script>
 -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
          
          <%= javascript_include_tag "bootstrap" %>
            <!-- Slider Plugin -->
            <%= javascript_include_tag "glide" %>
    

</head>
  <%= yield :stylesheets %>

  <meta property="og:title"       content="<%= page_title ||  SeoHelper.configuration.site_name %>"/>
  <meta property="og:description" content="<%= page_description || SeoHelper.configuration.default_page_description %>"/>
  <meta property="og:image:url"   content="<%= page_image ||  SeoHelper.configuration.default_page_image %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<%= render_body_tag %>

<%= render :partial => "common/menu" %>

  <div class="container">

      <%= notice_message %>

   <!--      <div class="row"> -->
          <%= yield %>
<!--           <%= yield (:sidebar) %> --> 
    
      </div>

      <%= render :partial => "common/footer" %>    
  </div>



  

  <%= render :partial => "common/bootstrap_modal" %>    
  <%= render :partial => "common/facebook_js" %>
  <%= render :partial => "common/google_analytics" %>
 
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "responsive-nav" %>
  <%= yield :javascripts %>


</body>
</html>
